<script type="text/html" id="{{ id|e('html_attr')|raw }}">
    <div class="accordion-group">
        <div class="accordion-heading clearfix">
            <a href="#accordion-item<%= id %>" data-toggle="collapse"
               class="accordion-icon accordion-toggle<% if (collapsed) { %> collapsed<% } %>"></a>
            <div class="icon">
                {% block activityIcon %}
                {% endblock %}
            </div>
            <div class="details">
                {% block activityDetails %}
                {% endblock %}
            </div>
            <div class="actions">
                {% block activityActions %}
                    <div class="more-bar-holder">
                        <div class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle activity-item">...</a>
                            <div class="dropdown-menu activity-item pull-right launchers-dropdown-menu">
                                {% block activityActionsList %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                {% endblock %}
            </div>
            <div class="message-item message">
                {% block activityShortMessage %}
                    <strong><%= subject %></strong>
                    <% if (!_.isUndefined(description) && !_.isEmpty(description)) { %>
                    - <%= description %>
                    <% } %>                    
                {% endblock %}
            </div>
            <div class="created-at">
                {% block activityDate %}
                    <i class="date"><%= updatedAt %></i>
                {% endblock %}
            </div>
            <div class="comment-count"<% if (!commentCount) { %> style="display:none"<% } %>
                 title="<%= _.__('oro.activitylist.comment.quantity_label') %>">
                <i class="icon icon-comment"></i><span class="count"><%= commentCount %></span>
            </div>
        </div>
        <div class="accordion-body collapse<% if (!collapsed) { %> in<% } %>" id="accordion-item<%= id %>">
            <div class="message">
                {% block activityContent %}
                    {# Do NOT remove. Placeholder for activity view #}
                    <div class="info responsive-cell clearfix"></div>
                    <% if (has_comments && commentable) { %>
                    <div class="responsive-cell clearfix">
                        {# placeholder for comments block#}
                        <div class="comment"></div>
                    </div>
                    <% } %>
                {% endblock %}
            </div>
        </div>
    </div>
</script>
